html,
body,
#root {
  background: rgb(38, 36, 73);
  background: radial-gradient(
    circle,
    rgba(38, 36, 73, 1) 0%,
    rgba(38, 35, 38, 1) 100%
  );

  background-size: 400% 400%;
  height: 100%;
  /* animation: gradient 20s ease-in-out infinite; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
