html,
body,
#root {
  background: radial-gradient(
    58.4% 58.4% at 50% 85.7%,
    rgba(43, 35, 83, 0.69) 0%,
    rgb(41, 41, 41) 100%
  );

  background-size: 400% 400%;
  height: 100%;
  /* animation: gradient 20s ease-in-out infinite; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
